{
  "tabWidth": 2,
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "always",
  "printWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss"]

}
