@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


 

  :root  {
    --background: 276 91% 95%;
    --foreground: 276 5% 10%;
    --card: 276 50% 90%;
    --card-foreground: 276 5% 15%;
    --popover: 276 91% 95%;
    --popover-foreground: 276 95% 10%;
    --primary: 276 49% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 276 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 238 30% 85%;
    --muted-foreground: 276 5% 40%;
    --accent: 238 30% 80%;
    --accent-foreground: 276 5% 15%;
    --destructive: 0 91% 42%;
    --destructive-foreground: 276 5% 90%;
    --border: 276 30% 50%;
    --input: 276 30% 42%;
    --ring: 276 49% 20%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 276 50% 10%;
    --foreground: 276 5% 90%;
    --card: 276 50% 10%;
    --card-foreground: 276 5% 90%;
    --popover: 276 50% 5%;
    --popover-foreground: 276 5% 90%;
    --primary: 276 49% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 276 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 238 30% 25%;
    --muted-foreground: 276 5% 60%;
    --accent: 238 30% 25%;
    --accent-foreground: 276 5% 90%;
    --destructive: 0 91% 42%;
    --destructive-foreground: 276 5% 90%;
    --border: 276 30% 42%;
    --input: 276 30% 42%;
    --ring: 276 49% 20%;
    --radius: 0.5rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  .custom-scrollbar::-webkit-scrollbar {
    @apply scrollbar; /* Apply the scrollbar styles */
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Thinner width of the scrollbar */
  height: 8px; /* Thinner height of the scrollbar (for horizontal scrolling) */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track); /* Background of the track */
  border-radius: 5px; /* Round edges for the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb); /* Background of the thumb */
  border-radius: 5px; /* Round edges for the thumb */
  border: 2px solid var(--scrollbar-track); /* Optional: border around the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover); /* Change thumb color on hover */
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-active); /* Change thumb color when active */
}

/* Firefox scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track); /* Thumb and track color */
}

/* Define colors for the scrollbar */
:root {
  --scrollbar-track: rgba(255, 255, 255, 0); /* Track color */
  --scrollbar-thumb: rgba(238, 237, 237, 0.2); /* Thumb color */
  --scrollbar-thumb-hover: rgba(185, 185, 185, 0.877); /* Thumb color on hover */
  --scrollbar-thumb-active: rgba(185, 185, 185, 0.877); /* Thumb color when active */
}


/* Firefox
 {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) !important;
}

/* Chrome, Edge and Safari */
/* *::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

*::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-track) !important;
  border: 1px solid var(--scrollbar-track) !important;
}

*::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track) !important;
}

*::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-hover) !important;
}

*::-webkit-scrollbar-track:active {
  background-color: var(--scrollbar-track-active) !important;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb) !important;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover) !important;
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-thumb-active) !important;
} */
/* Define scrollbar track */
/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar thumb */
::-webkit-scrollbar-thumb {
  display: none;
}

/* Hide scrollbar track */
::-webkit-scrollbar-track {
  display: none;
}

/* Hide scrollbar corner */
::-webkit-scrollbar-corner {
  display: none;
}
.react-pdf__Page__textContent {
  border-radius: 6px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in-fade-in {
  animation: slideInFadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fadeIn 600ms ease-in-out;
}
.animate-fade-in-fast {
  animation: fadeIn 350ms ease;
}
.animate-fade-out-fast {
  animation: fadeOut 600ms ease-in-out;
}

.animate-fade-out {
  animation: fadeOut 0.4444s ease-in-out;
}

@keyframes electricity {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.electricity {
  animation: electricity 2s linear infinite;
}

.zoom-tooltip-enter {
  transform: scale(0);
}

.zoom-tooltip-enter-active {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

.zoom-tooltip-exit {
  transform: scale(1);
}

.zoom-tooltip-exit-active {
  transform: scale(0);
  transition: transform 200ms ease-in-out;
}

.toast-enter {
  opacity: 0;
  transform: scale(0.9);
}

.toast-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms, transform 200ms;
}

.toast-exit {
  opacity: 1;
  transform: scale(1);
}

.toast-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 200ms, transform 200ms;
}
/* Your component's CSS file or global styles */
.toast {
  @apply toast-enter toast-enter-active toast-exit toast-exit-active;
  /* Add additional styles here if needed */
}
